

  .fieldset_infonaosolic{
    padding: 15px;
    border-radius: 5px;
    border-width: 3px;
    border-color: brown;
    height: 700px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .confirm{
    margin:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .fieldset article{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    margin: 15px;
    padding: 1px;
    border-radius: 5px;;
  }
  
  .confirm label{
    padding-bottom: 15px;
    font-size: 22px;
    color: black;
    margin-top: -50px;
  }

  .confirm a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    border-radius: 3px;
    transition: all 0.5s;
  }
  
  .confirm a:hover{
    background-color: brown;
    color: white;
  }

  .fieldset article p{
    color: cornsilk;
    font-size: 15px;
    width: 100%;
    text-align: center;
    
  }

  .confirm span{
    text-decoration: none;
    color: black;
    margin-right: 5px;
    margin-top: 15px;
    border-radius: 5px;
    border: 0;
    font-size: 22px;
    outline: none;
    padding: -1px;
    transition: all 0.5s;
  }

  .confirm button{
    text-decoration: none;
    color: black;
    margin-right: 5px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    font-size: 22px;
    outline: none;
    padding: 2px;
    transition: all 0.5s;
  }

  .confirm button:hover{
    background-color: brown;
    color: white;
  }

  .confirm input{
    font-size: 22px;
  }