
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h2{
    font-size: 50px;
    font-family: sans-serif;
}

.home a{
    text-decoration: none;
    margin-right: 5px;
    margin-top: 150px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    outline: none;
    padding: 12px;
    transition: all 0.5s;
    color: black;
}

.home a:hover{
    background-color: brown;
    color: #FFF;
}
